@charset "utf-8";
/************部分主题**************/
.main_title{
    margin-top:70px;
    margin-bottom: 30px;

}
.titles span{
    display: inline-block;
    font-size:18px;
    line-height: 30px;
}
.titles{
    border-bottom: 1px solid #dddddd;
}
.bg_1,.bg_2,.bg_3,.bg_6,.bg_5,.bg_6{
    color:#9B9B9B;
}
.bg_3,.bg_6{
    margin-left:20px;
}
.num{
    display: inline-block;
    width:40px;
}
.floor_two{
    margin-top:10px;
}
.floor_one span{
    color:#9B9B9B;
    line-height: 30px;
}
.list_one{
    height:40px;
    border-bottom: 1px solid #E0E0E0;
}
.list_one span{
    display:inline-block;
    color:#9B9B9B;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right:30px;
}
.first_1 img{
    margin-top:10px;
}
.first_2 div{
    margin-left:34%;
    margin-right:34%;
}
.first_2 div span {
    color: #FA2A3A;
    line-height: 25px;
}
.star{
    font-size: 16px;
}
.first_3{
    margin-left:34% !important;
    margin-right:34% !important;
}
.first_3 table th{
    text-align: center !important;

}
.first_3 table tr{
    text-align: center !important;

}